# For use in clusters with the 1P operator
# onePasswordSecrets:
#   <name>: <item-path>

# Used as a backwards-compatible stopgap to do environment interpolation in the config until the aggkit supports config from the environment
mountRawConfig: true

env: bali
metadata:
  service: aggkit

podLabels:
  name: myname
  business_unit: agglayer
  role: myrole
  partner: Polygon
  network: mynetwork

existingSecret: op-secrets

nodeSelector: {}

tolerations: []

initContainers: []

extraVolumes: []

topologySpreadConstraints: []

replicas: 1

container:
  extraVolumeMounts: []

  image:
    pullPolicy: IfNotPresent
    repository: ghcr.io/agglayer/aggkit
    tag: latest

  ports:
    aggsender: 5576
    bridge: 5577
    validator: 5578 # named validator as is common to aggsender and aggsender-validator
    prometheus: 9091

service:
  type: ClusterIP
  clusterIP: None

ingresses:
  aggsender:
    create: false
    hostname: "something.dev.polygon"
  bridge:
    create: false
    hostname: "something-else.dev.polygon"
  aggsenderValidator:
    create: false
    hostname: "something-else-else.dev.polygon"

serviceAccount:
  create: false
  annotations: {}

storage:
  path: /data
  size: 500Gi

podSecurityContext: {}
securityContext: {}

config:
  # list of components: aggsender, aggsender-validator, aggoracle, bridge
  components:
    - aggsender
    - aggoracle

  aggsender:
    certificateSendInterval: 1m
    checkSettledInterval: 5s
    maxCertSize: 8388608
    saveCertificatesToFilesPath: /tmp
    mode: "PessimisticProof" # PessimisticProof (PP) or AggchainProof (FEP)
    maxL2BlockNumber: 0
    dryRun: false

    # Set this if aggsender.mode is AggchainProof
    # aggkitProverClient:
    #   url: "http://aggkit-prover:4446"
    #   useTLS: true

    agglayerClient:
      url: "http://agglayer:4444"
      useTLS: true

    validatorClient:
      url: "http://localhost:5578"

    privateKey:
      keyName: "" # if this string is not empty, aggsender will try to use KMS
      keystoreFileName: "aggsender.keystore"
      keystoreFilePasswordSecretFieldName: "aggsenderKeystorePassword"

    optimisticModeEnabled: false

  aggsenderValidator:
    mode: "PessimisticProof" # PessimisticProof (PP) or AggchainProof (FEP)

    agglayerClient:
      url: "http://agglayer:4444"
      useTLS: true

    privateKey:
      keyName: "" # if this string is not empty, aggsender-validator will try to use KMS
      keystoreFileName: "aggsenderValidator.keystore"
      keystoreFilePasswordSecretFieldName: "aggsenderValidatorKeystorePassword"

  aggoracle:
    enableAggOracleCommittee: false
    aggoracleCommitteeAddr: "0x"

    privateKey:
      keyName: "" # if this string is not empty, aggoracle will try to use KMS
      keystoreFileName: "aggoracle.keystore"
      keystoreFilePasswordSecretFieldName: "aggoracleKeystorePassword"

  l1InfoTreeSync:
    blockFinality: "LatestBlock"

  reorgDetectorL1:
    blockFinality: "FinalizedBlock"

  bridgeL1Sync:
    blockFinality: "FinalizedBlock"
    initialBlockNum: 0

  bridgeL2Sync:
    blockFinality: "FinalizedBlock"

  l2GERSync:
    blockFinality: "FinalizedBlock"

  l1:
    bridgeAddress: "0x123"
    chainId: 123
    globalExitRootAddress: "0x123"
    polTokenAddress: "0x123"
    rollupAddress: "0x123"
    rollupBlockNumber: "0x123"
    rollupManagerAddress: "0x123"
    rollupManagerBlockNumber: 123
    syncBlockChunkSize: 1000

  l2:
    agglayerAddress: "0x123"
    bridgeAddress: "0x123"
    chainId: 123
    globalExitRootAddress: "0x123"
    rpcURL: http://localhost:8545
    initialBlockNum: 0

  log:
    environment: development # "production" or "development"
    level: info

  prometheus:
    enabled: true
    host: 0.0.0.0

resources:
  limits:
    cpu: 2
    memory: 8Gi
  requests:
    cpu: 1
    memory: 4Gi
