{{- $opSecrets := (lookup "v1" "Secret" .Release.Namespace .Values.existingSecret) }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "aggkit.fullname" . }}
  namespace: {{ .Release.Namespace }}
data:
  config.toml: |
    PathRWData = {{ .Values.storage.path | quote }}
    {{- if .Values.config.l1.rpcUrl }}
    L1URL = {{ .Values.config.l1.rpcUrl | quote }}
    {{- else }}
    L1URL = {{ index $opSecrets.data "l1RpcURL" | b64dec | quote }}
    {{- end }}
    L2URL = {{ .Values.config.l2.rpcURL | quote }}

    SequencerPrivateKeyPath = ""
    SequencerPrivateKeyPassword = ""

    rollupCreationBlockNumber = {{ .Values.config.l1.rollupBlockNumber | int }}
    rollupManagerCreationBlockNumber = {{ .Values.config.l1.rollupManagerBlockNumber | int }}
    genesisBlockNumber = {{ .Values.config.l1.rollupManagerBlockNumber | int }}

    [L1Config]
    BridgeAddr = {{ .Values.config.l1.bridgeAddress | quote }}
    chainId = {{ .Values.config.l1.chainId | int }}
    polygonZkEVMGlobalExitRootAddress = {{ .Values.config.l1.globalExitRootAddress | quote }}
    polygonRollupManagerAddress = {{ .Values.config.l1.rollupManagerAddress | quote }}
    polTokenAddress = {{ .Values.config.l1.polTokenAddress | quote }}
    polygonZkEVMAddress = {{ .Values.config.l1.rollupAddress | quote }}

    [L2Config]
    BridgeAddr = {{ .Values.config.l2.bridgeAddress | quote }}
    GlobalExitRootAddr = {{ .Values.config.l2.globalExitRootAddress | quote }}

    [Log]
    Environment = {{ .Values.config.log.environment | quote }}
    Level = {{ .Values.config.log.level | quote }}
    Outputs = ["stderr"]

    [RPC]
    Port = {{ .Values.container.ports.aggsender | int }}

    {{- if has "aggsender" .Values.config.components }}

    [AggSender]
    {{ if .Values.config.aggsender.privateKey.keyName }}
    AggsenderPrivateKey = {Method ="GCP", KeyName={{ .Values.config.aggsender.privateKey.keyName | quote }}}
    {{ else }}
    AggsenderPrivateKey = {Path = "/etc/aggkit/{{ .Values.config.aggsender.privateKey.keystoreFileName }}", Password = {{ index $opSecrets.data (.Values.config.aggsender.privateKey.keystoreFilePasswordSecretFieldName) | b64dec | quote }}}
    {{ end }}

    CertificateSendInterval = {{ .Values.config.aggsender.certificateSendInterval | quote }}
    CheckSettledInterval = {{ .Values.config.aggsender.checkSettledInterval | quote }}
    MaxCertSize = {{ .Values.config.aggsender.maxCertSize | int }}
    SaveCertificatesToFilesPath = {{ .Values.config.aggsender.saveCertificatesToFilesPath | quote }}
    Mode={{ .Values.config.aggsender.mode | quote }}
    CheckStatusCertificateInterval = {{ .Values.config.aggsender.checkStatusCertificateInterval | quote }}
    RetryCertAfterInError = {{ .Values.config.aggsender.retryCertAfterInError }}
    RequireNoFEPBlockGap = true
    DryRun = {{ .Values.config.aggsender.dryRun }}
    MaxL2BlockNumber = {{ .Values.config.aggsender.maxL2BlockNumber | int }}

    {{ if .Values.config.aggsender.optimisticModeEnabled }}
    [AggSender.OptimisticModeConfig]
    SovereignRollupAddr = {{ .Values.config.l1.rollupAddress | quote }}
    # By default use the same key that aggsender  sign certs
    {{ if .Values.config.aggsender.privateKey.keyName }}
    TrustedSequencerKey = {Method ="GCP", KeyName={{ .Values.config.aggsender.privateKey.keyName | quote }}}
    {{ else }}
    TrustedSequencerKey = {Path = "/etc/aggkit/{{ .Values.config.aggsender.privateKey.keystoreFileName }}", Password = {{ index $opSecrets.data (.Values.config.aggsender.privateKey.keystoreFilePasswordSecretFieldName) | b64dec | quote }}}
    {{ end }}
    OpNodeURL = "http://op-node:9545"
    RequireKeyMatchTrustedSequencer = true
    {{ end }}

    {{ if .Values.config.aggsender.mode | eq "AggchainProof" }}
    [AggSender.AggkitProverClient]
    URL = {{ .Values.config.aggsender.aggkitProverClient.url | quote }}
    UseTLS = {{ .Values.config.aggsender.aggkitProverClient.useTLS | quote }}
    {{ end }}

    [AggSender.AgglayerClient.GRPC]
    URL = {{ .Values.config.aggsender.agglayerClient.url | quote }}
    UseTLS = {{ .Values.config.aggsender.agglayerClient.useTLS | quote }}

    [AggSender.ValidatorClient]
    URL = {{ .Values.config.aggsender.validatorClient.url | quote }}

    {{- end }}

    {{- if has "aggoracle" .Values.config.components }}

    [AggOracle]
    EnableAggOracleCommittee = {{ .Values.config.aggoracle.enableAggoracleCommittee }}

    [AggOracle.EVMSender]
    GlobalExitRootL2 = {{ .Values.config.l2.globalExitRootAddress | quote }}

    {{ if .Values.config.aggoracle.enableAggoracleCommittee }}
    AggOracleCommitteeAddr = {{ .Values.config.aggoracle.aggoracleCommitteeAddr | quote }}
    {{ end }}

    [AggOracle.EVMSender.EthTxManager]
    {{ if .Values.config.aggoracle.privateKey.keyName }}
    PrivateKeys = [{Method ="GCP", KeyName={{ .Values.config.aggoracle.privateKey.keyName | quote }}}]
    {{ else }}
    PrivateKeys = [{Path = "/etc/aggkit/{{ .Values.config.aggoracle.privateKey.keystoreFileName }}", Password = {{ index $opSecrets.data (.Values.config.aggoracle.privateKey.keystoreFilePasswordSecretFieldName) | b64dec | quote }}}]
    {{ end }}

    [AggOracle.EVMSender.EthTxManager.Etherman]
    L1ChainID = {{ .Values.config.l2.chainId | int }}

    {{- end }}

    {{- if or (has "bridge" .Values.config.components) (has "l1bridgesync" .Values.config.components) }}

    [ReorgDetectorL1]
    FinalizedBlock = {{ .Values.config.reorgDetectorL1.blockFinality | quote }}

    [ReorgDetectorL2]
    FinalizedBlock = {{ .Values.config.reorgDetectorL2.blockFinality | quote }}

    [BridgeL1Sync]
    BlockFinality = {{ .Values.config.bridgeL1Sync.blockFinality | quote }}
    InitialBlockNum = {{ .Values.config.bridgeL1Sync.initialBlockNum | int }}

    {{- end }}

    [L1InfoTreeSync]
    BlockFinality = {{ .Values.config.l1InfoTreeSync.blockFinality | quote }}
    SyncBlockChunkSize={{ .Values.config.l1.syncBlockChunkSize | int }}

    [REST]
    Port = {{ .Values.container.ports.bridge | quote }}

    [L2GERSync]
    BlockFinality = {{ .Values.config.l2GERSync.blockFinality | quote }}
    InitialBlockNum = {{ .Values.config.l2.initialBlockNum | int }}

    {{- if or (has "aggsender-validator" .Values.config.components) (has "aggsender" .Values.config.components) }}

    [Validator]
    EnableRPC = {{ has "aggsender-validator" .Values.config.components }}
    {{- $pk := ternary .Values.config.aggsenderValidator.privateKey .Values.config.aggsender.privateKey (has "aggsender-validator" .Values.config.components) }}
    {{- $mode := ternary .Values.config.aggsenderValidator.mode .Values.config.aggsender.mode (has "aggsender-validator" .Values.config.components) }}
    {{ if $pk.keyName }}
    Signer = {Method ="GCP", KeyName={{ $pk.keyName | quote }}}
    {{ else }}
    Signer = {Path = "/etc/aggkit/{{ $pk.keystoreFileName }}", Password = {{ index $opSecrets.data ($pk.keystoreFilePasswordSecretFieldName) | b64dec | quote }}}
    {{ end }}
    Mode={{ $mode | quote }}

    [Validator.ServerConfig]
    Host = "0.0.0.0"
    Port = {{ .Values.container.ports.validator }}
    MaxDecodingMessageSize = 1073741824  # 1GB

    [Validator.LerQuerierConfig]
    RollupManagerAddr = {{ .Values.config.l1.rollupManagerAddress | quote }}
    RollupCreationBlockL1 = {{ .Values.config.l1.rollupBlockNumber | int }}

    [Validator.AgglayerClient]
    Cached = true

    [Validator.AgglayerClient.ConfigurationCache]
    TTL = "15m"
    Capacity = 100

    [Validator.AgglayerClient.GRPC]
    {{- if has "aggsender-validator" .Values.config.components }}
    URL = {{ .Values.config.aggsenderValidator.agglayerClient.url | quote }}
    UseTLS = {{ .Values.config.aggsenderValidator.agglayerClient.useTLS | quote }}
    {{- else }}
    URL = {{ .Values.config.aggsender.agglayerClient.url | quote }}
    UseTLS = {{ .Values.config.aggsender.agglayerClient.useTLS | quote }}
    {{- end }}

    {{- end }}

    [Prometheus]
    Enabled = {{ .Values.config.prometheus.enabled }}
    Host = {{ .Values.config.prometheus.host | quote }}
    Port = {{ .Values.container.ports.prometheus }}

    [BridgeL2Sync]
    InitialBlockNum = {{ .Values.config.l2.initialBlockNum | int }}
    BridgeAddr = {{ .Values.config.l2.bridgeAddress | quote }}
    BlockFinality = {{ .Values.config.bridgeL2Sync.blockFinality | quote }}
