replicaCount: 1

image:
  repository: ghcr.io/immutable/immutable-geth/immutable-geth
  pullPolicy: IfNotPresent
  tag: "v1.0.0-beta.16"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

storage:
  path: /data
  size: 500Gi

service:
  type: ClusterIP
  clusterIP: None
  http:
    port: 8545
  annotations: {}

ingress:
  create: true
  hostname: something.dev.polygon

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}
